<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
</head>
<body class="profile-page">
{{> navbar}}
{{> header}}
<section class="row main-wrapper  main main-raised">
    <div class="row container card-block">
        {{#each products as | product index |}}
            {{#ifEquals ../productId product.id}}
                {{> productContent product = product}}
            {{/ifEquals}}
        {{/each}}
    </div>
    {{> socialShare}}
</section>
{{> footer}}
{{> scripts}}
</body>
</html>
