<footer class="footer">
    <div class="container">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://codingblocks.com" target="_blank">Coding Blocks</a>
                </li>
                <li>
                    <a href="https://codingblocks.com/about.html" target="_blank">About Us</a>
                </li>
                <li>
                    <a href="https://blog.codingblocks.com" target="_blank">Blog</a>
                </li>
                <li>
                    <a href="https://codingblocks.com/contactus/" target="_blank">Contact Us</a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            © 2017, made with <i class="fa fa-heart" aria-hidden="true"></i> by Coding Blocks.
        </div>
    </div>
</footer>
