<!-- Navbar -->
<nav class="navbar navbar-toggleable-md fixed-top position-absolute navbar-transparent">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="https://codingblocks.com">
                <img src="{{#relative "/assets/img/logo/logo_light.png" @file.path}}{{/relative}}"
                     class="img-fluid navbar-logo">
            </a>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navigation"
             data-nav-image="{{#relative "/assets/img/blurred.jpg" @file.path}}{{/relative}}">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="https://codingblocks.com" target="_blank">
                        <p>Home</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <p>Shop</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://codingblocks.com/about.html" target="_blank">
                        <p>About</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://codingblocks.com/contactus/" target="_blank">
                        <p>Contact</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->
