<div class="container sharing-area text-center">
    <h3>Thank you for supporting us!</h3>
    <button id="twitter" class="btn btn-raised btn-twitter sharrre">
        <i class="fa fa-twitter"></i>
        Tweet
    </button>
    <button id="facebook" class="btn btn-raised btn-facebook sharrre"><i class="fa fa-facebook-square"></i> Share<div class="ripple-container"><div class="ripple ripple-on" style="left: 91.25px; top: 15.1875px; background-color: rgb(255, 255, 255); transform: scale(15.125);"></div></div></button>
    <button id="googlePlus" class="btn btn-raised btn-google-plus sharrre">
        <i class="fa fa-google-plus"></i>
        Share
    </button>
</div>
